<%= simple_form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :code %>
  <%= f.input :name %>
  <%= f.input :description %>

  <%= f.simple_fields_for :collaborations do |cf| %>
    <fieldset class="collaborations">
      <%= cf.input :participant_name, input_html: { data: { autocomplete_source: Participant.order(:name).map(&:name) } } %>
      <%= cf.input :role, collection: Collaboration::ROLES %>
    </fieldset>
  <% end %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
